Repository aaronsisler/packages.git-my-files: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run lint --fix, git add ., prettier --write

Adding in the babel build process
  .eslintignore
  .gitignore
  babel.config.json
  package.json
  yarn.lock
Due: git add ., prettier --write

Making the export correct
  src/index.js
Due: yarn run lint --fix, git add ., prettier --write

Adding in the parameter for folderPath
  README.md
  src/fetch-git-files.js
  src/index.js
Due: yarn run lint --fix, git add ., prettier --write

Adding in the npmrc file to local repo and updating gitignore
  .gitignore
Due: none

Adding in solid structure for testing package code along with jest
  .eslintrc
  .gitignore
  jest.config.js
  package.json
  src/fetch-git-files/fetch-git-files.js
  src/fetch-git-files/index.js
  src/format-output/format-output.js
  src/format-output/index.js
  src/grab-loose-files.js
  src/grab-loose-files/grab-loose-files.js
  src/grab-loose-files/grab-loose-files.spec.js
  src/grab-loose-files/index.js
  yarn.lock
Due: yarn run lint --fix, git add ., prettier --write

Changing for default export
  README.md
  jest.config.js
  src/format-output/format-output.js
  src/format-output/format-output.spec.js
  src/grab-loose-files/grab-loose-files.js
Due: yarn run lint --fix, git add ., prettier --write

Removing commented line
  src/format-output/format-output.spec.js
Due: yarn run lint --fix, git add ., prettier --write

Breaking out method for cleaner testing
  src/fetch-git-files/fetch-git-files.js
  src/format-output/format-output.spec.js
  src/throw-error/index.js
  src/throw-error/throw-error.js
  src/throw-error/throw-error.spec.js
Due: yarn run lint --fix, git add ., prettier --write

Getting coverage report to generate
  jest.config.js
Due: yarn run lint --fix, git add ., prettier --write

More jest config changes
  jest.config.js
Due: yarn run lint --fix, git add ., prettier --write

Splitting out more functions for testing ease
  package.json
  src/fetch-files/fetch-files.js
  src/fetch-files/index.js
  src/fetch-git-files/index.js
  src/find-files/find-files.js
  src/find-files/find-files.spec.js
  src/find-files/index.js
  src/index.js
  src/revert-staging/index.js
  src/revert-staging/revert-staging.js
  src/revert-staging/revert-staging.spec.js
  src/throw-error/throw-error.spec.js
Due: yarn run lint --fix, git add ., prettier --write

Moving files into util folder. Modifying jest config for comfort
  jest.config.js
  src/fetch-files/fetch-files.js
  src/find-files/find-files.js
  src/utils/revert-staging/index.js
  src/utils/revert-staging/revert-staging.js
  src/utils/revert-staging/revert-staging.spec.js
  src/utils/throw-error/index.js
  src/utils/throw-error/throw-error.js
  src/utils/throw-error/throw-error.spec.js
Due: yarn run lint --fix, git add ., prettier --write

Modifying all files to be import export over require
  src/fetch-files/fetch-files.js
  src/fetch-files/fetch-files.spec.js
  src/find-files/find-files.js
  src/grab-loose-files/grab-loose-files.js
  src/grab-loose-files/grab-loose-files.spec.js
  src/index.js
  src/utils/revert-staging/revert-staging.js
  src/utils/revert-staging/revert-staging.spec.js
  src/utils/throw-error/throw-error.js
  src/utils/throw-error/throw-error.spec.js
Due: yarn run lint --fix, git add ., prettier --write

Adding in test cases for fetch-files. Need to finish with Promise logic
  src/fetch-files/fetch-files.js
  src/fetch-files/fetch-files.spec.js
Due: yarn run lint --fix, git add ., prettier --write

Adding in test for fetch files
  src/fetch-files/fetch-files.js
  src/fetch-files/fetch-files.spec.js
  src/format-output/format-output.spec.js
Due: yarn run lint --fix, git add ., prettier --write

Adding in tests for find files
  src/find-files/find-files.spec.js
Due: yarn run lint --fix, git add ., prettier --write

Adding in spec file rootMethod
  jest.config.js
  src/index.spec.js
Due: yarn run lint --fix, git add ., prettier --write

Update to make module export
  package.json
  src/index.js
Due: yarn run lint --fix, git add ., prettier --write

Final mods for the publish
  README.md
  babel.config.json
  package.json
Due: git add ., prettier --write

Final update to the package.json for publish
  package.json
Due: git add ., prettier --write

Resolving security alerts
  package.json
  yarn.lock
Due: git add ., prettier --write

Adding in gh action for publish
  .github/workflows/publish.yml
Due: none

ci: version bump to v1.1.2
  package.json
Due: git add ., prettier --write

Adding in the package lock to use npm
  package-lock.json
  yarn.lock
Due: git add ., prettier --write

Reordering to have tests and install first
  .github/workflows/publish.yml
Due: none

Fixing testing issue
  .gitignore
  .lintstagedrc.json
  babel.config.json
  jest.config.js
  package-lock.json
  package.json
Due: yarn run lint --fix, git add ., prettier --write

Updating for working through test suite not working issue
  babel.config.js
  babel.config.json
  jest.config.js
  package.json
Due: yarn run lint --fix, git add ., prettier --write

Updating test config file
  jest.config.js
Due: yarn run lint --fix, git add ., prettier --write

Cleaning up test config file one more time
  jest.config.js
Due: yarn run lint --fix, git add ., prettier --write

Reordering publish workflow file
  .github/workflows/publish.yml
Due: none

ci: version bump to v1.1.3
  package-lock.json
  package.json
Due: git add ., prettier --write

Adding in functionality to scan deeper into folders for files
  src/fetch-files/fetch-files.spec.js
  src/format-output/format-output.js
  src/format-output/format-output.spec.js
  src/grab-directory-files/grab-directory-files.js
  src/grab-directory-files/grab-directory-files.spec.js
  src/grab-directory-files/index.js
  src/grab-loose-files/grab-loose-files.js
  src/grab-loose-files/index.js
  src/utils/is-directory/index.js
  src/utils/is-directory/is-directory.js
  src/utils/is-directory/is-directory.spec.js
Due: yarn run lint --fix, git add ., prettier --write

Adding in node-notifier to fix dep warning
  package-lock.json
  package.json
Due: git add ., prettier --write

Adding in unit test runner
  .github/workflows/pull-request.yml
Due: none

Updating name
  .github/workflows/pull-request.yml
Due: none

More renaming to be clear
  .github/workflows/pull-request.yml
Due: none

ci: version bump to v1.1.4
  package-lock.json
  package.json
Due: git add ., prettier --write

ci: version bump to v1.1.5
  package-lock.json
  package.json
Due: git add ., prettier --write

ci: version bump to 1.1.6
  package-lock.json
  package.json
Due: git add ., prettier --write

ci: version bump to 1.1.7
  package-lock.json
  package.json
Due: git add ., prettier --write

Path conditions:
  yarn run lint --fix: any of: *.js
  git add .: (any of: *.js) or (any of: *.{js,json})
  prettier --write: any of: *.{js,json}
